# 의존성 디렉토리
node_modules/
.pnp/
.pnp.js

# Next.js 빌드 출력물
.next/
out/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 로컬 환경 변수 파일
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js 관련 파일
.vercel/
.env.build.local

# 선택적 npm 캐시 디렉토리
.npm

# 선택적 eslint 캐시
.eslintcache

# 선택적 stylelint 캐시
.stylelintcache

# MacOS 특정 파일
.DS_Store

# 편집기 설정 디렉토리 및 파일
.vscode/
.idea/
*.swp
*.swo

# TypeScript 캐시 파일
*.tsbuildinfo

# Git 관련 packfile 제외
*.pack.gz
