@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body {
  font-family: "nanumgothic", sans-serif;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-image: url("../images/loginMoviePicture.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  height: 600px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  position: relative;
  transition: all 0.5s ease-in-out; /* 애니메이션 효과 추가 */
}

.login-card {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: absolute; /* 절대 위치 설정 */
  transition: all 0.3s ease-in-out; /* 애니메이션 효과 추가 */
}

.login-card-sign-right,
.login-card-sign-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center; /* 텍스트 요소 가운데 정렬 */
  padding: 0px 50px 50px 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.login-card-sign-left.show {
  opacity: 1;
}
.login-card-sign-right.show {
  opacity: 1;
}

.login-card-sign-left.hidden {
  opacity: 0;
}
.login-card-sign-right.hidden {
  opacity: 0;
}

.login-card-sign-left {
  left: 0;
}
.login-card-sign-right {
  right: 0;
}

.login-container .signin {
  transform: translateX(0); /* 로그인 카드 기본 위치 */
}

.login-container .signup {
  transform: translateX(100%); /* 회원가입 카드 기본 위치 */
}
