.f-box {
  display: flex;
}

.m5 {
  margin: 5px;
}
.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb20 {
  margin-bottom: 20px;
}

.gray-text {
  color: #888888;
}
.white-text {
  color: white;
}

.fs8 {
  font-size: 8px;
}
.fs12 {
  font-size: 12px;
}
.fs16 {
  font-size: 16px;
}
.fs24 {
  font-size: 24px;
}

.left-aligned {
  margin-left: 0px;
  margin-right: auto;
}

.w50 {
  width: 50px;
}
.w80 {
  width: 80px;
}
.w180 {
  width: 180px;
}
.w240 {
  width: 240px;
}
.w270 {
  width: 270px;
}
.w300 {
  width: 300px;
}
